<h1>Convert <%=@currency_to_convert%> to <%=@currency_to_convert_to%></h1>

<p>1 <%=@currency_to_convert%> equals <%=@exchange_rate%> <%=@currency_to_convert_to%></p>

Go <a href="/<%=@currency_to_convert%>">back</a>.
